@page "/"

@using Lecture_CSharpBlazorApplication.Data;
@inject IFoodService foodService
@inject PaymentService paymentService

@inject SingletonService singleton;
@inject TransientService transient;
@inject ScopedService scoped;
 


<div>
    @foreach (var food in foodService.GetFoods())
    {
        <div>@food.Name</div>
        <div>@food.Price</div>
    }
</div>

<div>
    <label>다른 Division 이동 및 새로고침으로 Guid 변화를 확인해보자.</label>
    <h1>Singleton</h1>
    Guid: @singleton.ID

    <h1>Transient</h1>
        Guid: @transient.ID

    <h1>Scoped</h1>
        Guid: @scoped.ID
</div>

@code {        
    protected override void OnInitialized()
    {
        // breakpoint를 사용하여 확인해 보면,
        // paymentService의 _foodService에 자동으로
        // 생성자 주입이 일어난 것을 확인할 수 있다.
    }
}