@page "/user"

@using Lecture_CSharpBlazorApplication.Data; 


<h3>Online Users</h3>

<!-- @ref attribute: 해당 script에서 ShowUser의 내부에 변수로 접근할 수 있게 해줌. -->
<!-- Users="@_xx": ShowUser에 해당 script에 있는 변수를 넘겨줌. -->
<!-- CallbackTest="CallbackTestFunc" Sub에 해당하는 ShowUser에서 Super에 해당하는 User의 함수를 쓰고 싶은 경우. -->
<ShowUser Users="@_users" CallbackTest="CallbackTestFunc" @ref="_showUser"/>
<br />

<div class="container">
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Add User" @bind-value="_inputName" />
        </div>
        <div class="col">
            <!-- 속성(attribute)에도 binding 가능  : class="@_btnClass" -->
            <!-- conditional attribute 자체에 조건 추가 가능  : disabled="@(_users.Count() >= 5)"-->
            <button class="btn btn-primary" type="button" @onclick="AddUser" disabled="@(_users.Count() >= 5)">Add a User</button>
        </div>
    </div>
</div>

@code {
    List<UserData> _users = new List<UserData>();
    ShowUser _showUser;

    string _inputName;
    string _btnClass = "btn btn-primary";

    void AddUser()
    {
        _showUser.AddUser(new UserData() { Name = _inputName });
        _inputName = "";
    }

    void KickUser(UserData user)
    {
        _showUser.KickUser(user);
    }

    void CallbackTestFunc()
    {
        _inputName = "CallbackTest";
        // StateHasChanged();
    }
}
